.fetch-button {
  display: inline-block;
  min-width: 185px;
  position: relative;
  margin-bottom: 10px;
  border: 3px solid $color-default;
  height: 55px;
  background: $color-white;
  cursor: pointer;
  font-size: 16px;
  
  &:hover .tooltip {
    display: block;
  }
  
  &--loading {
    border-color: $color-loading;
    color: $color-loading;

    .fetch-button__contents {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .fetch-button__contents .fetch-button__label {
      padding-right: 15px;
    }
  }
  
  &--loading .tooltip {
    background-color: $color-loading;
  }
  
  &--error {
    display: block;
    border-color: $color-error;
    color: $color-error;
  }

  &--disabled {
    color: $color-disabled;
    pointer-events: none;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 60px;
  left: -3px;
  width: calc(100% + 6px);
  height: 40px;
  z-index: 1;
  color: $color-white;
  background-color: $color-default;
  font-weight: 600;
  padding: 10px 0;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent $color-default transparent;
  }

  &--loading {
    background-color: $color-loading;

    &::after {
      border-color: transparent transparent $color-loading transparent;
    }
  }

  &--error {
    display: block;
    background-color: $color-error;

    &::after {
      border-color: transparent transparent $color-error transparent;
    }
  }
}